@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">SimWebDemo</h1>
    <p>Visualization of simulation using C# object programming and Razer Pages.</p>
    <br>
    <p>Go to Simulation tab to see moves on the map.</p>
    <br />
    <img src="/css/gamer.png" alt="gamer" style="max-width:100%" />
</div>
