<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimWeb</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/SimWeb.styles.css" asp-append-version="true" />-->
</head>
<body>
    <header>
        <h1>SimWeb</h1>
        <div class="nav">
            <span>Info</span>
            <a class="active" href="/Simulation">Simulation</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p>Zuzanna Wojtowicz, 233041, UEK</p>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>